[submodule "packages/evm/lib/forge-std"]
	path = packages/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/evm/lib/solmate"]
	path = packages/evm/lib/solmate
	url = https://github.com/transmissions11/solmate
